{% extends 'base.html' %}
{% from 'form.html' import render_form, render_user_review, render_five_last_reviews %}

{% block content %}
<div class="title-area position-relative" style="background-image: url({{ image }});">
    <div class="h-100 w-100 py-5 d-flex text-center position-absolute" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto">
            <h1 class="title mb-3 font-weight-bold">{{ book.name }}</h1>
            <h3 class="title mb-3 font-weight-bold">{{ genres }}</h3>
            <p class="mb-3 mx-auto">
                <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
            </p>
            <div class="container">
                <p class="description w-100 mb-5 mx-auto">
                    {{ book.short_desc | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">

    {% if current_user.is_authenticated %}
        {% if user_review %}
            <div class="text-center">
                {{ render_user_review(user_review, current_user) }}
            </div>
        {% else %}
            <h2 class="my-3 text-center text-uppercase font-weight-bold">Оставить отзыв</h2>
            <div class="my-3">
                {{ render_form(book, current_user) }}            
            </div>
        {% endif %}
    {% endif %}


    <h2 class="my-3 text-center text-uppercase font-weight-bold">Недавние отзывы</h2>
    {{ render_five_last_reviews(review) }}

    <div class="d-flex justify-content-center">
        <a href="{{ url_for('books.reviews', book_id=book.id) }}" class="mb-5 text-center btn btn-dark">Все отзывы</a>
    </div>
</div>


{% endblock %}