{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1>Список книг:</h1>

    <div class="row">
        {% for book in books %}
        <div class="card col-md-2 me-3 mb-3" style="width: 18rem;">
            <img src="{{ images[loop.index0] }}" class="card-img-top book-logo" alt="...">
            <div class="card-body">
                <h5 class="card-title book-name">{{ book.name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Жанры:</b> {{ genres[loop.index0] }}.</li>
                <li class="list-group-item"><b>Год издания:</b> {{ book.publication_year }}.</li>
                <li class="list-group-item"><b>Рейтинг:</b> {{ book.rating }}. </li>
                <li class="list-group-item"><b>Количество оценок:</b> {{ book.rating_num }}</li>
            </ul>
            {% if current_user.is_authenticated %}
            <div class="btn-group-vertical align-items-center container" role="group" style="width:99%;">
                <a data-role="button" class="btn btn-outline-dark" href="{{ url_for('books.show', book_id=book.id) }}">Просмотр</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}